<h1>Change Password - User "<%= @user.username %>"</h1>

<%= render 'errors' %>

<% unless is_logged_in_user? @user %>
  <p>You don't have permission to view this page!</p>
<% else %>
  <%= form_for @user do |f| %>

    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>

    <p>
      <%= f.submit 'Change Password' %>
    </p>

  <% end %>

  <%= link_to 'Back', users_path %>
<% end %>