<!-- Change header based on type of user to sign up -->
<h1>Sign Up as a<% if admin? %>n Administrator<% else %>Contributor<% end %></h1>

<%= render 'errors' %>

<%= form_for @user do |f| %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Login', login_path %>