<% author = User.find(blog_post.user_id) %>

<hr>

<h1><%= link_to blog_post.title, blog_post %></h1>
<h2>by <%= link_to author.username, author %></h2>
<p class="text-area-output"><%= blog_post.body %></p>

<% if is_logged_in_user? author and not admin?%>
  <%= link_to 'Edit Post', edit_blog_post_path(blog_post) %><br>
<% end %>
<% if admin? or is_logged_in_user? author %>
   <%= link_to 'Delete Post', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h2>Comments:</h2>
<% if blog_post.comments.present? %>
  <%= render blog_post.comments %>
<% else %>
  <p>No comments yet!</p>
<% end %>

<% if logged_in? %>
  <h2>Write your comment here!</h2>
  <%= form_for([blog_post, blog_post.comments.build]) do |f| %>
    <p>
      <%= current_user.username %>:<br>
      <%= f.text_area :body %><br>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  <p>Please <%= link_to "sign up", signup_path %> or <%= link_to "login", login_path %> to post comments.</p>
<% end %>