<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit 'Login' %>
  </p>

<% end %>

<%= link_to 'Sign up', signup_path %>